body {
	background: #dadaff;
  overflow: hidden;
  position: relative;
  font-family: "Ubuntu", serif;
  user-select: none;
 /* cursor: url('/V\ 1.0/img/souris.png'), auto; */
}

.cont {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  background: #a2a2f5;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 11px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4); 
  overflow: hidden;
  opacity: 1;
  transition: all ease-in 0.2s;
} 

.cont:hover, .cont:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
}

.cont:hover .cont-c, .cont:focus .cont-c, .cont:hover .cont-d, .cont:focus .cont-d {
  border-radius: 18px;
  transform: translateY(30%);
}

.cont:hover .cont-c button, .cont:focus .cont-c button {
  background: #0505fb;
}

.cont:hover .cont-d button, .cont:focus .cont-d button {
  background: #0505fb;
}

.cont:hover img {
  transform: scale(1.05);
  filter: drop-shadow( 1px 1px 8px rgba(0, 0, 0, 0.538));
}

.cont-a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

#singup {
  text-decoration: none;
  color: #fff;
  background: #0505fb;
  padding: 8px;
  border-radius: 11Px;
  font-size: 15px;
}

.cont-b {
  display: flex;
  flex-direction: row;
}

.cont-bb {
  width: 50%;
  margin-left: 10px;

  & h4 {
    text-align: center;
    font-size: 15px;
    font-family: "Arima", system-ui;
  }

  & span {
    font-size: 14px;
    text-align: center;
    font-family: "Arima", system-ui;
  }
}

.cont-bbb {
  align-items: center;
  position: relative;
  
}

.cont-b img {
  width: 250px;
  transition: all ease-in 0.2s;
}

.cont-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  margin-top: 30px;
  height: 100vb;
  border-radius: 10px;
  transition: all ease-in 0.2s;
  transform: translateY(56%);
  position: absolute;
  width: 100%;

  &
   input {
    width: 250px;
    height: 40px;
    border: 1px solid #a2a2f5;
    outline: #a2a2f5;
    border-radius: 12px;
    background: #3737f920;
    margin-bottom: 10px;
    padding: 11px;
  }

   #recup {
    margin: 0px;
    padding: 10px;
    font-size: 11px;
    width: 250px;
    text-align: right;
    padding: 4px;
    cursor: text;
    color: #a2a2f5;
  }

   button {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 11px;
    background: #a9a9fb;
    color: #fff;
    margin-top: 10px;
    transition: ease-in 0.1s;
    cursor: pointer;
  }

  #copy {
    font-size: 11px;
    position: relative;
    top: 70px;
  }

}

.cont-d {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  margin-top: 30px;
  height: 100vb;
  border-radius: 10px;
  transition: all ease-in 0.2s;
  transform: translateY(58%);
  position: absolute;
  width: 100%;

  &
   input {
    width: 250px;
    height: 40px;
    border: 1px solid #a2a2f5;
    outline: #a2a2f5;
    border-radius: 12px;
    background: #3737f920;
    margin-bottom: 10px;
    padding: 11px;
  }

   #recup {
    margin: 0px;
    padding: 10px;
    font-size: 11px;
    width: 250px;
    text-align: right;
    padding: 4px;
    cursor: pointer;
    color: #a2a2f5;
  }

   button {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 11px;
    background: #a9a9fb;
    color: #fff;
    margin-top: 10px;
    transition: ease-in 0.1s;
    cursor: pointer;
  }

  #copy {
    font-size: 11px;
    position: relative;
    top: 70px;
  }

}

.active {
  animation: act 0.3s linear forwards;
}

@keyframes act {
  0% {
   
    transform: translateY(0);
  }
  100% {
   
    transform: translateY(100%);
  }
}

.active2 {
  animation: nact 0.3s linear forwards;
}

@keyframes nact {
  0% {
    transform: translateY(100%);

  }
  100% {
    transform: translateY(30%);
   
  }
}

/* Appliquer une transformation en cas de hover uniquement quand .active2 est présente */

.cont:hover .cont-c:not(.active), 
.cont:focus .cont-c:not(.active),
.cont:hover .cont-d:not(.active), 
.cont:focus .cont-d:not(.active) { 
  border-radius: 18px;
  transform: translateY(30%);
}

.cont:hover .cont-c button, .cont:focus .cont-c button {
  background: #0505fb;
}


.cont:hover .cont-c button, .cont:focus .cont-c button {
  background: #0505fb;
}

@media (max-width: 768px) {
  .cont {
    width: 350px;
    height: 600px;
  }

  #singup {
    font-size: 13px;
  }

  .cont-b img {
    width: 160px;
    transition: all ease-in 0.2s;
  }

  .cont-bb h4 {
    font-size: 12px;
  }

  .cont-bb span {
    font-size: 12px;
  }

  .cont-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    margin-top: 30px;
    height: 100vb;
    border-radius: 10px;
    transition: all ease-in 0.2s;
    transform: translateY(30%);
    position: absolute;
    width: 100%;
  }
}
